/* ============================================================
	* Settings
============================================================ */

/**
	* Set all varibles used accross the whole project includes
	* colors, fonts, buttons and forms
*/


/* Colors
*
* 1. Default headings color accross the site
============================================================ */

/* Color Palette */
$color-primary: #009EE2;
$color-secondary: #102E46;
$color-grey: #9B9B9B;
$color-grey--dark: #555555;

/* Links */
$color-links: $color-primary;

/* Text */
$color-text: $color-grey--dark;

/* Page */
$color-page-background: #fff;
$color-page-colour: $color-text;

/* Headings */
$color-heading: $color-text; /* 1. */





/* Breakpoints
*
* Set all breakpoints as min width values this then
* generates min and max width mixins that can be used.
============================================================ */

$breakpoints: (		 
	mobile: 480px,
	tablet: 768px,
	laptop: 960px,
	desktop: 1330px,
);





/* Spacing
============================================================ */

$spacing-base: 25px;
$spacing-half: ceil($spacing-base/2);
$spacing-quarter: ceil($spacing-base/4);
$spacing-double: ceil($spacing-base*2);
$spacing-triple: ceil($spacing-base*3);
$spacing-quad: ceil($spacing-base*4);
$spacing-massive: ceil($spacing-base*5);





/* Grid
*
* The settings for JD Grid
*
* 1. Set to false to use max-width (desktop first) or keep
* as true to use min-widths (mobile first)
*
* 2. This is settings the breakpoints to be the same as what
* our media quiries will use.
*
* 3. The largest value that can be used in a fraction
============================================================ */

$gutters: (
	gutter: $spacing-base,
	gutter-large: $spacing-double,
	gutter-massive: $spacing-triple
);

$jd-mobile-first: true; /* 1. */
$jd-breakpoints: $breakpoints; /* 2. */
$jd-max-fracton: 5; /* 3. */





/* Container
*
* 1. Sets a padding left and right onto the fluid container
============================================================ */

$container-width: 1330px;
$container-padding: $spacing-base; /*1*/





/* Rows
*
* The padding for diffrent sections / rows
============================================================ */

$rows: (
	default: (
		mobile: 25px,
		tablet: 50px,
		laptop: 75px,
	),
	large: (
		mobile: 35px,
		tablet: 75px,
		laptop: 100px,
	),
	small: (
		mobile: 25px,
		laptop: 35px,
	)
);





/* Fonts
============================================================ */

$font-breakpoint: 'tablet';

/* Font Family */
$font-primary: 'Libre Franklin', sans-serif;
$font-secondary: 'Oxygen', sans-serif;


/* Font Weights */
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semi: 600;
$font-bold: 700;


/* Font Size */
$heading-largest: 64px;
$heading-largest--responsive: 36px;

$heading-larger: 36px;
$heading-larger--responsive: 30px;

$heading-large: 30px;
$heading-large--responsive: 24px;

$heading-small: 20px;
$heading-small--responsive: 20px;

$heading-smaller: 18px;
$heading-smaller--responsive: 18px;

$heading-smallest: 14px;
$heading-smallest--responsive: 14px;


/* Line Height */
$line-height-largest: 74px;
$line-height-largest--responsive: 46px;

$line-height-larger: 46px;
$line-height-larger--responsive: 40px;

$line-height-large: 40px;
$line-height-large--responsive: 34px;

$line-height-small: 30px;
$line-height-small--responsive: 30px;

$line-height-smaller: 28px;
$line-height-smaller--responsive: 28px;

$line-height-smallest: 24px;
$line-height-smallest--responsive: 24px;





/* Globals
*
* 1. Set to true or false, this then changes the transition 
*    mixin
*
* 2. Default transition type
============================================================ */

$global-font-size: 16px;
$global-line-height: 26px;
$global-background: $color-page-background;
$global-font-weight: $font-normal;
$global-text-color: $color-page-colour;
$global-font-family: $font-primary;


/* Transition */
$transition-time: 300ms;
$transition-time--slower: 500ms;
$transition-easing: true; /*[1]*/
$transition-easing-type: ease-in-out; /*[2]*/


/* Border Radius */
$border-radius: 0;
$border-radius--large: ceil($border-radius*2);
$border-radius--huge: ceil($border-radius*4);





/* Forms
============================================================ */

$forms-element-background: #fff;
$forms-element-border: 1px solid $color-text;
$forms-element-color: $color-text;
$forms-element-placeholder: rgba($color-text, 0.75);
$forms-element-padding: $spacing-half $spacing-base;





/* Buttons
============================================================ */

$button-font-family: $font-secondary;
$button-font-size: 16px;
$button-line-height: 24px;