/* ============================================================
    * Setting - Global Setting
============================================================ */

/* Global Colors
============================================================ */

$color-primary: #009EE2;
$color-secondary: #102E46;
$color-grey: #9B9B9B;
$color-grey--dark: #555555;


/* Links*/

$color-links: $color-primary;


/* Text */

$color-text: $color-grey--dark;


/* Page */

$color-page-background: #fff;
$color-page-color: $color-text;


/* Headings */

$color-heading: $color-text;
$color-heading--alt: $color-text;





/* Breakpoints
============================================================ */

/*MOBILE*/
$min-w__mobile: 425px;

/*TABLET*/
$min-w__tablet: 768px;

/*LAPTOP*/
$min-w__laptop: 1024px;

/*MOBILE*/
$min-w__large: 1330px;





/* Spacing
============================================================ */

$spacing-base: 25px;
$spacing-half: ceil($spacing-base/2);
$spacing-quarter: ceil($spacing-base/4);
$spacing-double: ceil($spacing-base*2);
$spacing-triple: ceil($spacing-base*3);
$spacing-quad: ceil($spacing-base*4);
$spacing-massive: ceil($spacing-base*5);





/* Grid
============================================================ */

$neat-grid: (
    columns: 12,
    gutter: $spacing-base
);




/* Container
============================================================ */

$container-width: 1330px;
$container-padding: $spacing-base;
$container-padding--small: $spacing-half;
$container-padding--large: $spacing-massive;





/* Fonts
============================================================ */

$primary-font: 'Libre Franklin', sans-serif;
$secondary-font: 'Oxygen', sans-serif;

  


  
/* Font Weights
============================================================ */

$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semi: 600;
$font-bold: 700;





/* Front Sizing
============================================================ */

$heading-largest: 64px;
$heading-larger: 36px;
$heading-large: 30px;
$heading-small: 20px;
$heading-smaller: 18px;
$heading-smallest: 14px;





/* Font Line Height
============================================================ */

$line-height-largest: 74px;
$line-height-larger: 46px;
$line-height-large: 40px;
$line-height-small: 30px;
$line-height-smaller: 28px;
$line-height-smallest: 24px;





/* Globals
============================================================ */

$global-font-size: 16px;
$global-line-height: 26px;
$global-backgroiund: $color-page-background;
$global-font-weight: 400;
$global-text-color: $color-page-color;
$global-font-family: $primary-font;





/* Buttons
============================================================ */

$button-font-family: $secondary-font;
$button-font-size: 16px;
$button-line-height: 24px;





/* Other
============================================================ */

$transition-time: 300ms;
$transition-time--slower: 500ms;


$global-easing: true;
$easing-type: $ease-in-sine;


$border-radius: 0;
$border-radius--large: ceil($border-radius*2);
$border-radius--huge: ceil($border-radius*4);