/* ============================================================
	* Settings
============================================================ */

/**
	* Set all varibles used accross the whole project includes
	* colors, fonts, buttons and forms
*/


/* Colors
*
* 1. Default headings color accross the site
============================================================ */

/* Color Palette */
$color-primary: #333266;
$color-secondary: #1E1D3E;
$color-grey: #EBEBEB;
// $color-grey--dark: #555555;

/* Links */
$color-links: $color-primary;

/* Text */
$color-text: $color-primary;

/* Page */
$color-page-background: #fff;
$color-page-colour: $color-text;

/* Headings */
$color-heading: $color-primary; /* 1. */

/* Gradient */
$color-grad: linear-gradient(180deg, #333266 0%, #1E1D3E 100%);


/* Breakpoints
*
* Set all breakpoints as min width values this then
* generates min and max width mixins that can be used.
============================================================ */

$breakpoints: (		 
	mobile: 480px,
	tablet: 768px,
	laptop: 960px,
	desktop: 1330px,
);





/* Spacing
============================================================ */

$spacing-base: 20px;
$spacing-half: round($spacing-base/2);
$spacing-quarter: round($spacing-base/4);
$spacing-double: round($spacing-base*2);
$spacing-triple: round($spacing-base*3);
$spacing-quad: round($spacing-base*4);
$spacing-massive: round($spacing-base*5);

$sizes: (
    null: $spacing-base,
    '-quarter': $spacing-quarter,
    '-half': $spacing-half,
    '-double': $spacing-double,
    '-triple': $spacing-triple,
    '-quad': $spacing-quad,
    '-0': 0
);



/* Grid
*
* The settings for JD Grid
*
* 1. This is settings the breakpoints to be the same as what
* our media quiries will use.
*
* 2. The largest value that can be used in a fraction in 
* the grid
============================================================ */

$gutters: (
	gutter: $spacing-base
);

$jd-breakpoints: $breakpoints; /* [1] */
$jd-max-fracton: 5; /* [2]. */





/* Container
*
* 1. Sets a padding left and right onto the fluid container
============================================================ */

$container-width: 1330px;
$container-padding: $spacing-base; /* [1] */





/* Rows
*
* The padding for diffrent sections / rows
============================================================ */

$rows: (
	default: (
		mobile: 25px,
		tablet: 50px,
		laptop: 100px,
	),
    none: (
        mobile: 0px
    )
);





/* Fonts
============================================================ */

$font-breakpoint: 'tablet';

/* Font Family */
$font-primary: 'Barlow Condensed', sans-serif;


/* Font Weights */
$font-light: 400;
$font-normal: 400;
$font-medium: 600;
$font-semi: 600;
$font-bold: 600;


/* Font Size */
$heading-largest: 60px;
$heading-largest--responsive: 36px;

$heading-larger: 40px;
$heading-larger--responsive: 30px;

$heading-large: 30px;
$heading-large--responsive: 24px;

$heading-small: 20px;
$heading-small--responsive: 20px;

$heading-smaller: 18px;
$heading-smaller--responsive: 18px;

$heading-smallest: 14px;
$heading-smallest--responsive: 14px;


/* Line Height */
$line-height-largest: 70px;
$line-height-largest--responsive: 46px;

$line-height-larger: 50px;
$line-height-larger--responsive: 36px;

$line-height-large: 40px;
$line-height-large--responsive: 30px;

$line-height-small: 26px;
$line-height-small--responsive: 24px;

$line-height-smaller: 24px;
$line-height-smaller--responsive: 22px;

$line-height-smallest: 24px;
$line-height-smallest--responsive: 24px;





/* Globals
*
* 1.Set to false to use max-width (desktop first) or keep
* as true to use min-widths (mobile first)
*
* 2. Set to true or false, this then changes the transition 
*    mixin
*
* 3. Default transition type
============================================================ */

$global-font-size: 18px;
$global-line-height: 26px;
$global-background: $color-page-background;
$global-font-weight: $font-normal;
$global-text-color: $color-page-colour;
$global-font-family: $font-primary;
$jd-mobile-first: true; /*[1]*/


/* Transition */
$transition-time: 300ms;
$transition-time--slower: 500ms;
$transition-easing: true; /*[2]*/
$transition-easing-type: ease-in-out; /*[3]*/


/* Border Radius */
$border-radius: 0;
$border-radius--large: ceil($border-radius*2);
$border-radius--huge: ceil($border-radius*4);





/* Forms
============================================================ */

$forms-element-background: #fff;
$forms-element-border: 3px solid $color-primary;
$forms-element-color: $color-text;
$forms-element-placeholder: rgba($color-text, 0.5);
$forms-element-padding: 6px $spacing-base;





/* Buttons
============================================================ */

$button-font-family: $font-primary;
$button-font-size: 20px;
$button-line-height: 25px;