/* ============================================================
    * Objects - Container
============================================================ */

/**
    * The styling for containers accross the site
    *
    * 1. The container width is set in the settings
    *    file under the settings folder.
    * 
    * 2. To center the container in the center of the page
    *
    * 3. Clearfix mixin to clear any pesky floats!
*/

.o-container {
    max-width: $container-width; /*[1]*/
    margin: 0 auto; /*[2]*/
    padding-left: $container-padding;
    padding-right: $container-padding;
    @include grid-container; /*[3]*/
}