/* ============================================================
	* Objects - Editable ( wysiwyg sections )
============================================================ */

/**
	* The styling for any editable contet on a CMS site, the idea
	* being to wrap any wysiwyg content sections with the "o-editable"
	* class then we can predefine styles this way we do not rely on 
	* on a default for the whole site.
*/

.o-editable {


	/* Font Styling
	============================================================ */

	h1 {
		font-size: $font-size-heading-three;
		line-height: $line-height-heading-three;

		@include media(ipad) {
			margin-top: $spacing-2x;
			margin-bottom: $spacing-2x;
			font-size: $font-size-heading-two;
			line-height: $line-height-heading-two;
		}

		@include media(ipad-pro) {
			font-size: $font-size-heading-one;
			line-height: $line-height-heading-one;
		}

	}


	h2 {
		font-size: $font-size-heading-four;
		line-height: $line-height-heading-four;

		@include media(ipad) {
			font-size: $font-size-heading-three;
			line-height: $line-height-heading-three;
		}

		@include media(ipad-pro) {
			font-size: $font-size-heading-two;
			line-height: $line-height-heading-two;
		}

	}


	h3 {
		font-size: $font-size-heading-four;
		line-height: $line-height-heading-four;
		
		@include media(ipad-pro) {
			font-size: $font-size-heading-three;
			line-height: $line-height-heading-three;
		}

	}


	h4 {
		font-size: $font-size-heading-four;
		line-height: $line-height-heading-four;
	}


	h5 {
		font-size: $font-size-heading-five;
		line-height: $line-height-heading-five;
	}
	
	
	h6 {
		font-size: $font-size-heading-six;
		line-height: $line-height-heading-six;
	}


	h1,h2,h3,h4,h5,h6 {
		margin-bottom: $spacing-base;
		font-weight: $font-regular;
		font-family: $font-family-primary;
		color: $colour-primary;
	}


	strong {
		font-weight: $font-bold;
	}





	/* Lists
	============================================================ */

	ul {}

		li {
			margin-bottom: $spacing-half;
		}
	
	

		
	
	 /* Images
	============================================================ */

	img {
		height: auto;
	}



	/* Extras
	============================================================ */

	p {
		display: block;
		margin: $spacing-base 0;
		color: $black;

		&:last-child { margin-bottom: 0; }

		&:first-child { margin-top: 0; }

	}


	a {
		font-weight: $font-regular;
		color: $colour-primary;
		@include transition(color);
	}


	ul li,
	ol li {
		list-style-position: outside;
		color: $black;
		line-height: $font-size-body + $font-line-height;
	}

	ol {
		counter-reset: my-awesome-counter;
		list-style: none;
		padding-left: 40px;
		border-top: 1px solid $grey-light;
		border-bottom: 1px solid $grey-light;
		padding-top: $spacing-base !important;
		padding-bottom: $spacing-base !important;
	}
	ol li {
		margin-left: 25px;
		counter-increment: my-awesome-counter;
		position: relative;
		margin-bottom: $spacing-half;
	}
	ol li::before {
		content: counter(my-awesome-counter);
		left: -25px;
		position: absolute;
		font-weight: $font-bold;
		color: $colour-primary;
	}


	ul,ol {
		padding: 0;
	}


	blockquote {
		display: inline-block;
		margin: $spacing-base 0;

		&:first-child { margin-top: 0; }
		
		p {
			font-size: $font-size-heading-four;
			line-height: $font-size-heading-four + $font-line-height;
			margin: 0;
			display: inline-block;
			margin-top: $spacing-half;
		}

	}

	
	hr {
		margin: ($spacing-base + $spacing-half) 0;
		border-color: $colour-primary;
	}


	img,
	.wp-caption {
		height: auto;
		display: inline-block;
		padding: $spacing-2x 0;

		&:first { padding-top: 0; }
	}


	img + img { padding-bottom: 0; }


	strong { font-weight: $font-bold; }


	table {
		border-collapse: collapse;
		width: 100%;
		margin-top: $spacing-2x;
		margin-bottom: $spacing-2x;
		border-radius: $border-radius;
		overflow: hidden;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	tbody tr {
		background-color: $grey-light;

		&:first-of-type {
			background-color: $colour-primary;
			color: $white;
			font-weight: $font-bold;
			border-top-left-radius: $border-radius;
			border-top-right-radius: $border-radius;
		}

		&:last-of-type {
			border-bottom-left-radius: $border-radius;
			border-bottom-right-radius: $border-radius;
		}

		&:nth-child(even) {
			background-color: $grey-light;
		}
	}

	table, th, td {
		border: 1px solid $white;
	}

	th, td {
		padding: 10px;
	}



	.o-editable--white {
		h1,h2,h3,h4,h5,h6,p, ul li, ol li, strong { color: $white; }
	
		ol li::before {
			color: $white;
		}
	
	}
	
	.o-editable--regular {
		h1,h2,h3,h4,h5,h6 { font-weight: $font-regular; }
	}
}