/* ———————————————————————————————————————— */
/* Object - Container
/* ———————————————————————————————————————— */

/*--------------
 Main Container
--------------*/

.o-container {
  max-width: $container-width;
  margin: 0 auto;
  padding: $container-padding $spacing-base;
}





/*--------------
 No Padding
--------------*/

.o-container--none {
  padding: 0 $spacing-base;
}





/*--------------
 Small Padding
--------------*/

.o-container--small {
  padding: $container-padding--small $spacing-base;
}





/*--------------
 Large Padding
--------------*/

.o-container--large {
  padding: $container-padding--large $spacing-base;
}