/* ———————————————————————————————————————— */
/* Object - Editable
/* ———————————————————————————————————————— */

.o-editable {
    
    h1 {
        font-size: $heading-largest;
        line-height: $line-height-largest;
    }


    h2 {
        font-size: $heading-larger;
        line-height: $line-height-larger;
    }


    h3 {
        font-size: $heading-large;
        line-height: $line-height-large; 
    }


    h4 {
        font-size: $heading-small;
        line-height: $line-height-small;  
    }


    h5 {
        font-size: $heading-smaller;
        line-height: $line-height-smaller;    
    }


    h6 {
        font-size: $heading-smallest;
        line-height: $line-height-smallest;
    }
    

    h1,h2,h3,h4,h5,h6 {
        margin-bottom: $spacing-base;
        font-weight: $font-semi;
        color: $color-text;
    }


    ul {


        li {
            margin-bottom: $spacing-half;

            &:last-of-type {
                margin-bottom: 0;
            }

        }


    }


    img {
        max-width: 100%;
        height: auto;
    }

}