/* ———————————————————————————————————————— */
/* Object - Row
/* ———————————————————————————————————————— */

/*--------------
 Main Row
--------------*/

.o-row {
    display: block;
    margin: 0;
    padding: 0;
}




/*--------------
 Primary bg
--------------*/

.o-row--primary {
    background-color: $color-primary;
}




/*--------------
 Secondary bg
--------------*/

.o-row--secondary {
    background-color: $color-secondary;
}




/*--------------
 Image bg, Cover
--------------*/

.o-row--image-cover {
    @include image(cover); 
}