/* ============================================================
    * Objects - Grid
============================================================ */

/**
    * The styling for a wrapper around the any grid items that
    * are using bBurbon neat
    *
    * 1. Make sure we have no extra margin or padding
    * 2. Sets up the grid using a Bourbon Neat mixin
    * 3. Basically just a clearfix but is needed for 
         a Bourbon Neat grid
*/

.o-grid {
    margin: 0; /*1*/
    padding: 0; /*1*/
    position: relative;
    @include grid-collapse; /*2*/
    @include grid-container; /*3*/
}





/* Large Gutter
============================================================ */

.o-grid--large {
    @include grid-media($double-gutter) {
        @include grid-collapse; /*2*/
        @include grid-container; /*3*/
    }
}