/* ============================================================
    * Objects - Lists
============================================================ */

/**
    * List styling
*/

/* Bare List
============================================================ */

.o-list {
    margin-bottom: 0;
    list-style-type: none;
}


    .o-list__item {
        margin-left: 0;
    }





/* Inline List
============================================================ */

.o-list-inline {
    margin-bottom: 0;
    list-style-type: none;
}


    .o-list-inline__item {
        argin-left: 0;
        display: inline-block;
    }