/* ============================================================
    * Objects - Row
============================================================ */

/**
    * The styling for rows(sections) accross the site,
    * we apply the background colors to our blocks
    * through this rows file.
*/

.o-row {
    display: block;
    width: 100%;
    margin: 0;
    padding: $row-padding 0;
    position: relative;
}





/* Background - Primary Color
============================================================ */

.o-row--primary {
    background-color: $colour-primary;
}





/* Background - Secondary Color
============================================================ */

.o-row--secondary {
    background-color: $colour-secondary;
}





/* Spacing - Large
============================================================ */

.o-row--large {
    padding: $row-padding--large 0;
}





/* Spacing - Small
============================================================ */

.o-row--small {
    padding: $row-padding--small 0;
}





/* Spacing - None
============================================================ */

.o-row--none {
    padding: 0;
}





/* Spacing - Conent
============================================================ */

.o-row--content {
    padding-bottom: #{$row-padding - $spacing-base};

    &.o-row--large {
        padding-bottom: #{$row-padding--large - $spacing-base};
    }

    &.o-row--small {
        padding-bottom: #{$row-padding--small - $spacing-base};
    }
}