/* ============================================================
    * Objects - Row
============================================================ */

/**
    * The styling for rows(sections) accross the site,
    * we apply the background colors to our blocks
    * through this rows file.
*/

.o-row {
    display: block;
    width: 100%;
    margin: 0;
    padding: $row-padding 0;
    position: relative;
}





/* Colour Variants
============================================================ */

.o-row--primary {
    background-color: $color-primary;
}


.o-row--secondary {
    background-color: $color-secondary;
}


.o-row--grey {
    background-color: $color-grey;
}





/* Spacing Variants
============================================================ */

.o-row--large {
    padding: $row-padding--large 0;
}


.o-row--small {
    padding: $row-padding--small 0;
}


.o-row--none {
    padding: 0;
}


.o-row--content {
    padding-bottom: #{$row-padding - $spacing-base};

    &.o-row--large {
        padding-bottom: #{$row-padding--large - $spacing-base};
    }

    &.o-row--small {
        padding-bottom: #{$row-padding--small - $spacing-base};
    }
    
}