/* ============================================================
    * Objects - Row
============================================================ */

/**
    * The styling for rows(sections) accross the site,
    * we apply the background colors to our blocks
    * through this rows file.
*/

.o-row {
    display: block;
    width: 100%;
    margin: 0;
    position: relative;
}





/* Spacing Variants
============================================================ */

@each $name, $sizes in $rows {
	$sufix: '';
    @if ($name != 'default') {
		$sufix: unquote("--")+$name;
	}
	
	.o-row#{$sufix} {
		@each $breakpoint, $size in $sizes {
			@if ($breakpoint == 'mobile') {
				padding: $size 0;

				&.o-row--content {
					padding-bottom: #{$size - $spacing-base};
				}
			} @else {
				@include media($breakpoint) {
					padding: $size 0;

					&.o-row--content {
						padding-bottom: #{$size - $spacing-base};
					}
				}
			}
		}
	}
}





/* Colour Variants
============================================================ */

.o-row--primary {
    background-color: $color-primary;
}


.o-row--secondary {
    background-color: $color-secondary;
}


.o-row--grey {
    background-color: $color-grey;
}