/* ———————————————————————————————————————— */
/* Utilities - Flex
/* ———————————————————————————————————————— */

/**
 * Container
 */

.u-flex {
  display: flex;
}

.u-flexInline {
  display: inline-flex;
}

/**
 * Direction: row
 */

.u-flexRow {
  flex-direction: row;
}

.u-flexRowReverse {
  flex-direction: row-reverse;
}

/**
 * Direction: column
 */

.u-flexCol {
  flex-direction: column;
}

.u-flexColReverse {
  flex-direction: column-reverse;
}

/**
 * Wrap
 */

.u-flexWrap {
  flex-wrap: wrap;
}

.u-flexNoWrap {
  flex-wrap: nowrap;
}

.u-flexWrapReverse {
  flex-wrap: wrap-reverse;
}

/**
 * Align items along the main axis of the current line of the flex container
 */

.u-flexJustifyStart {
  justify-content: flex-start;
}

.u-flexJustifyEnd {
  justify-content: flex-end;
}

.u-flexJustifyCenter {
  justify-content: center;
}

.u-flexJustifyBetween {
  justify-content: space-between;
}

.u-flexJustifyAround {
  justify-content: space-around;
}

/**
 * Align items in the cross axis of the current line of the flex container
 * Similar to `justify-content` but in the perpendicular direction
 */

.u-flexAlignItemsStart {
  align-items: flex-start;
}

.u-flexAlignItemsEnd {
  align-items: flex-end;
}

.u-flexAlignItemsCenter {
  align-items: center;
}

.u-flexAlignItemsStretch {
  align-items: stretch;
}

.u-flexAlignItemsBaseline {
  align-items: baseline;
}

/**
 * Aligns items within the flex container when there is extra
 * space in the cross-axis
 *
 * Has no effect when there is only one line of flex items.
 */

.u-flexAlignContentStart {
  align-content: flex-start;
}

.u-flexAlignContentEnd {
  align-content: flex-end;
}

.u-flexAlignContentCenter {
  align-content: center;
}

.u-flexAlignContentStretch {
  align-content: stretch;
}

.u-flexAlignContentBetween {
  align-content: space-between;
}

.u-flexAlignContentAround {
  align-content: space-around;
}

/* Applies to flex items
   ========================================================================== */

/**
 * Override default alignment of single item when specified by `align-items`
 */

.u-flexAlignSelfStart {
  align-self: flex-start;
}

.u-flexAlignSelfEnd {
  align-self: flex-end;
}

.u-flexAlignSelfCenter {
  align-self: center;
}

.u-flexAlignSelfStretch {
  align-self: stretch;
}

.u-flexAlignSelfBaseline {
  align-self: baseline;
}

.u-flexAlignSelfAuto {
  align-self: auto;
}

/**
 * Change order without editing underlying HTML
 */

.u-flexOrderFirst {
  order: -1;
}

.u-flexOrderLast {
  order: 1;
}

.u-flexOrderNone {
  order: 0;
}

/**
 * Aligning with `auto` margins
 * http://www.w3.org/TR/css-flexbox-1/#auto-margins
 */

.u-flexExpand {
  margin: auto;
}

.u-flexExpandLeft {
  margin-left: auto;
}

.u-flexExpandRight {
  margin-right: auto;
}

.u-flexExpandTop {
  margin-top: auto;
}

.u-flexExpandBottom {
  margin-bottom: auto;
}