/* ============================================================
    * JD Spacing
============================================================ */

$spacing-base: 25px !default;

$directions: ('t':'top','b':'bottom','l':'left','r':'right');

$spacing: (
    none: 0,
    quarter : 1/4,
    half : 1/2,
    base : 1,
    alt : 1.4,
    double : 2,
    triple: 3,
    quad: 4,
    massive: 5
);

@if ($jd-mobile-first) {
    $jd-mq: 'min-width';
} @else {
    $jd-mq: 'max-width';
}

.u-m {
	margin: $spacing-base;
}

.u-p {
	padding: $spacing-base;
}

@each $key, $number in $spacing {
    .u-m-#{$key} {
        margin: round($spacing-base * $number);
    }

    .u-p-#{$key} {
        padding: round($spacing-base * $number);
    }
}


@each $short, $direction in $directions {
    .u-m#{$short} {
        margin-#{$direction}: $spacing-base;
    }

    .u-p#{$short} {
        padding-#{$direction}: $spacing-base;
    }

    @each $key, $number in $spacing {
        .u-m#{$short}-#{$key} {
            margin-#{$direction}: round($spacing-base * $number);
        }
    
        .u-p#{$short}-#{$key} {
            padding-#{$direction}: round($spacing-base * $number);
        }
    }
}

@each $device, $breakpoint in $jd-breakpoints {
	.u-m {
		margin: $spacing-base;
	}
	
	.u-p {
		padding: $spacing-base;
	}
	
    @media ($jd-mq: $breakpoint) {
        @each $key, $number in $spacing {
            .u-m-#{$key}\@#{$device} {
                margin: round($spacing-base * $number);
            }

            .u-p-#{$key}\@#{$device} {
                padding: round($spacing-base * $number);
            }
        }


        @each $short, $direction in $directions {
            .u-m#{$short}\@#{$device} {
                margin-#{$direction}: $spacing-base;
            }

            .u-p#{$short}\@#{$device} {
                padding-#{$direction}: $spacing-base;
            }

            @each $key, $number in $spacing {
                .u-m#{$short}-#{$key}\@#{$device} {
                    margin-#{$direction}: round($spacing-base * $number);
                }
            
                .u-p#{$short}-#{$key}\@#{$device} {
                    padding-#{$direction}: round($spacing-base * $number);
                }
            }
        }
    }
}