/* ============================================================
	* JD Widths
============================================================ */
  
$jd-mq: null;

@if ($jd-mobile-first) {
	$jd-mq: 'min-width';
} @else {
	$jd-mq: 'max-width';
}

@mixin generateWidths($num1, $num2, $device:null) {
	$breakpoint: '';

    @if ($device) {
        $breakpoint: unquote(\@)+$device;
    }

	.u-width-#{$num1}\/#{$num2}#{$breakpoint} {
		flex-basis:	calc(#{(($num1 / $num2) * 100%)});
		max-width: calc(#{(($num1 / $num2) * 100%)});
	}
	
	.u-push-#{$num1}\/#{$num2}#{$breakpoint} {
		margin-left: calc(#{(($num1 / $num2) * 100%)});
	}

	.u-pull-#{$num1}\/#{$num2}#{$breakpoint} {
		margin-left: calc(#{(($num1 / $num2) * -100%)});
	}
}

@for $number1 from 1 through $jd-max-fracton {
	@for $number2 from 1 through $jd-max-fracton {
		@include generateWidths($number1, $number2);
	}

	.u-push-0, .u-pull-0 {
		margin-left: 0;
	}
}


@each $device, $breakpoint in $jd-breakpoints {
	@media ($jd-mq: $breakpoint) {
		@for $number1 from 1 through $jd-max-fracton {
			@for $number2 from 1 through $jd-max-fracton {
				@include generateWidths($number1, $number2, $device);
			}
			
			.u-push-0\@#{$device}, .u-pull-0\@#{$device} {
				margin-left: 0;
			}
		}
	}
}