/* ============================================================
    * Element - Buttons
============================================================ */

/**
    * Styling for buttons used within multiple components across
    * the project. Includes modifing classes for sizing and colours.
*/

.e-btn {
    position: relative;
    display: inline-block;
    padding: $spacing-half $spacing-base;
    outline: 0;
    font-family: $button-font-family;
    border-radius: $border-radius;
    z-index: 1;
    @include font-size($button-font-size, $button-line-height);
    @include transition(background, color);
}





/* Buttons Modifiers
============================================================ */

.e-btn--primary {
    background-color: $color-primary;
    color: #fff;

    &:hover,
    &:active,
    &:focus {
        background-color: darken($color-primary, 15);
    }

}