/* ============================================================
    * Components - Buttons
============================================================ */

/**
    * An styling for buttons
*/

.e-btn {
    position: relative;
    display: inline-block;
    color: #fff;
    background-color: $color-primary;
    padding: $spacing-half $spacing-base;
    outline: 0;
    font-family: $button-font-family;
    border-radius: $border-radius;
    z-index: 1;
    @include font-size($button-font-size, $button-line-height);
    @include transition(background);
    

    &:hover {
        background-color: darken($color-primary, 15);
    }


}