/* ============================================================
    * Element - Headings
============================================================ */

/**
    * The styling for headings accros the site you can
    * edit the sizing in the fonts config under settings.
*/

.e-heading {
    margin-bottom: $spacing-base;
    color: $color-heading;
    font-weight: $font-normal;
}





/* Heading Sizing
============================================================ */

.e-heading--largest {
    @include font-size($heading-largest--responsive, $line-height-largest--responsive);
    @include media($font-breakpoint) {
        @include font-size($heading-largest, $line-height-largest);
    }
}


.e-heading--larger {
    @include font-size($heading-larger--responsive, $line-height-larger--responsive);
    @include media($font-breakpoint) {
        @include font-size($heading-larger, $line-height-larger);
    }
}


.e-heading--large {
    @include font-size($heading-large--responsive, $line-height-large--responsive);
    @include media($font-breakpoint) {
        @include font-size($heading-large, $line-height-large);
    }
}


.e-heading--small {
    @include font-size($heading-small--responsive, $line-height-small--responsive);
    @include media($font-breakpoint) {
        @include font-size($heading-small, $line-height-small);
    }
}


.e-heading--smaller {
    @include font-size($heading-smaller--responsive, $line-height-smaller--responsive);
    @include media($font-breakpoint) {
        @include font-size($heading-smaller, $line-height-smaller);
    }
}


.e-heading--smallest {
    @include font-size($heading-smallest--responsive, $line-height-smallest--responsive);
    @include media($font-breakpoint) {
        @include font-size($heading-smallest, $line-height-smallest);
    }
}





/* Heading Colors
============================================================ */

.e-heading--color-alt {
    color: $color-heading--alt;
}


.e-heading--primary {
    color: $color-primary;
}


.e-heading--secondary {
    color: $color-secondary;
}


.e-heading--white {
    color: #fff;
}





/* Heading weights
============================================================ */

.e-heading--light {
    font-weight: $font-light;
}


.e-heading--bold {
    font-weight: $font-bold;
}