/* ============================================================
    * Setting - Border radius
============================================================ */

$border-radius: 0;
$border-radius--large: ceil($border-radius*2);
$border-radius--huge: ceil($border-radius*4);