/* ———————————————————————————————————————— */
/* Colors
/* ———————————————————————————————————————— */

$color-primary: #000;
$color-secondary: #000;



// Page
$color-page-background: #fff;
$color-page-color: $color-primary;



// Links
$color-links: $color-secondary;



// Text
$color-text: $color-primary;



// Headings
$color-heading: $color-primary;
$color-heading--alt: $color-secondary;
