/* ———————————————————————————————————————— */
/* Colors
/* ———————————————————————————————————————— */

/*
  Global color palette, set up project colors within this
  file then call the variables across the site. 
  Ideally, all the colors should be set in the global
  section at the top of the settings and then the
  global brand colors referenced for links and headings etc.
*/


/*--------------
 Global Brand Colors
--------------*/

$color-primary: #3aaf0c;
$color-secondary: #ededed;





/*--------------
 Links
--------------*/

$color-links: $color-secondary;





/*--------------
 Text
--------------*/

$color-text: #666666;
$color-text--lgiht: #999999;





/*--------------
 Page
--------------*/

$color-page-background: #fff;
$color-page-color: $color-text;





/*--------------
 Headings
--------------*/

$color-heading: $color-text;
$color-heading--alt: $color-text--lgiht;