/* ———————————————————————————————————————— */
/* Fonts
/* ———————————————————————————————————————— */


/*--------------
  Include fonts
--------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');





/*------------
  Fonts
------------*/

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto', sans-serif;

  


  
/*------------
  Font Weight
------------*/

$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semi: 600;
$font-bold: 700;





/*------------
  Font Sizes
------------*/

$heading-largest: 40px;
$heading-larger: 38px;
$heading-large: 32px;
$heading-small: 26px;
$heading-smaller: 22px;
$heading-smallest: 18px;





/*------------
  Line Height
------------*/

$line-height-largest: 50px;
$line-height-larger: 48px;
$line-height-large: 38px;
$line-height-small: 26px;
$line-height-smaller: 22px;
$line-height-smallest: 18px;