/* ============================================================
    * Setting - Grid
============================================================ */

/**
    * $neat-grid is the settings for the deafualt grid, custom
    * grids can also be set in this file.
    * Example of custom grid:
    * $other-custom-grid-for-print: (
    *     columns: 12,
    *     gutter: $spacing-double,
    *     media: 1200px
    * );
*/


$neat-grid: (
    columns: 12,
    gutter: $spacing-base
);





/* Double Gutter
============================================================ */

$double-gutter: (
    columns: 12,
    gutter: $spacing-double,
    media: 0
);