/* ============================================================
	* Settings - Rows
============================================================ */

/**
	* This is where we can simply set the row spacing across,
	* all are devices. See the layouts/rows file for more
	* info.
*/

$rows: (
	default: (
		iphone-small: $spacing-2x,
		ipad: $spacing-3x,
		ipad-pro: $spacing-5x,
	),
	none: (
		iphone-small: 0px
	)
);