/* ============================================================
    * Setting - Globals
============================================================ */

$global-font-size: 16px;
$global-line-height: 26px;
$global-background: $colour-page-background;
$global-font-weight: 400;
$global-text-color: $colour-page-colour;
$global-font-family: $font-primary;