/* ============================================================
    * Setting - Fonts
============================================================ */

$font-breakpoint: 'tablet';





/* Font Families
============================================================ */

$primary-font: 'Libre Franklin', sans-serif;
$secondary-font: 'Oxygen', sans-serif;

  


  
/* Font Weights
============================================================ */

$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semi: 600;
$font-bold: 700;





/* Front Sizing
============================================================ */

$heading-largest: 64px;
$heading-largest--responsive: 36px;

$heading-larger: 36px;
$heading-larger--responsive: 30px;

$heading-large: 30px;
$heading-large--responsive: 24px;

$heading-small: 20px;
$heading-small--responsive: 20px;

$heading-smaller: 18px;
$heading-smaller--responsive: 18px;

$heading-smallest: 14px;
$heading-smallest--responsive: 14px;





/* Font Line Height
============================================================ */

$line-height-largest: 74px;
$line-height-largest--responsive: 46px;

$line-height-larger: 46px;
$line-height-larger--responsive: 40px;

$line-height-large: 40px;
$line-height-large--responsive: 34px;

$line-height-small: 30px;
$line-height-small--responsive: 30px;

$line-height-smaller: 28px;
$line-height-smaller--responsive: 28px;

$line-height-smallest: 24px;
$line-height-smallest--responsive: 24px;