/* ============================================================
    * Setting - Global Config
============================================================ */

/**
    * Global config for setting enviroments.
    *
    * 1. Set either to local or production,
    *    this will enable certain tools for
    *    local development.
    *
    * 3. Set either to true or false,
    *    this will enable easing on the transition
    *    tool.
*/


$global-env:    local; /*[1]*/

$global-easing: true; /*[3]*/





/* Nudge Settings
============================================================ */

$nudge-incorrect-nesting:     false;

$nudge-no-ids:                true;

$nudge-single-spaces:         true;

$nudge-modifiers:             true;

$nudge-underscores:           true;

$nudge-camel-case:            true;

$nudge-deprecated-selectors:  false;