/* ============================================================
    * Setting - Forms, Inputs, Textarea etc
============================================================ */

$forms-element-background: #fff;
$forms-element-border: 1px solid $color-text;
$forms-element-color: $color-text;
$forms-element-placeholder: rgba($color-text, 0.75);
$forms-element-padding: $spacing-half $spacing-base;