/* ============================================================
    * Setting - Colours
============================================================ */

$colour-primary: #009EE2;
$colour-secondary: #102E46;
$colour-grey: #9B9B9B;
$colour-grey--dark: #555555;


/* Links */

$colour-links: $colour-primary;


/* Text */

$colour-text: $colour-grey--dark;


/* Page */

$colour-page-background: #fff;
$colour-page-colour: $colour-text;


/* Headings */

$colour-heading: $colour-text;
$colour-heading--alt: $colour-text;