/* ———————————————————————————————————————— */
/* Global Settings
/* ———————————————————————————————————————— */


  /*---------------
  Globals
  ---------------*/

  $global-font-size: 16px !default;
  $global-line-height: 24px !default;
  $global-backgroiund: $color-page-background !default;
  $global-font-weight: $font-normal !default;
  $global-text-color: $color-page-color !default;
  $global-font-family: $primary-font !default;
  




  /*------------
  Breakpoints
  ------------*/
  
  // MOBILE
  $max-w__mobile: 480px;

  // TABLET
  $max-w__tablet: 780px;

  // LAPTOP
  $max-w__laptop: 980px;

  // LARGE
  $max-w__large: 1280px;





  /*------------
  Spacing
  ------------*/

  $spacing-base: 25px;
  $spacing-half: round($spacing-base/2);
  $spacing-quarter: round($spacing-base/2);
  $spacing-double: round($spacing-base*2);
  $spacing-three: round($spacing-base*3);
  $spacing-quad: round($spacing-base*4);

  



  /*------------
  Grid Gutter
  ------------*/

  $gutter: 25px !default;
  $gutter--large: 40px !default;





  /*------------
  Container
  ------------*/

  $container-width: 1200px;
  $container-padding: $spacing-base;
  $container-padding--small: $spacing-half;
  $container-padding--large: $spacing-double;





  /*-------------
  Other Settings
  -------------*/

  $transition-time: 300ms;
  $transition-time--slower: 500ms;
  

  $border-radius: 3px;
  $border-radius--large: round($border-radius*2);
  $border-radius--huge: round($border-radius*4);

