/* ============================================================
    * Setting - Colours
============================================================ */

$color-primary: #009EE2;
$color-secondary: #102E46;
$color-grey: #9B9B9B;
$color-grey--dark: #555555;


/* Links */

$color-links: $color-primary;


/* Text */

$color-text: $color-grey--dark;


/* Page */

$color-page-background: #fff;
$color-page-colour: $color-text;


/* Headings */

$color-heading: $color-text;
$color-heading--alt: $color-text;