/* ============================================================
    * Setting - Global Fonts
============================================================ */


/* Fonts
============================================================ */

$primary-font: 'Hind', sans-serif;
$secondary-font: 'Hind', sans-serif;

  


  
/* Font Weights
============================================================ */

$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semi: 600;
$font-bold: 700;





/* Front Sizing
============================================================ */

$heading-largest: 64px;
$heading-larger: 36px;
$heading-large: 30px;
$heading-small: 20px;
$heading-smaller: 18px;
$heading-smallest: 14px;





/* Font Line Height
============================================================ */

$line-height-largest: 74px;
$line-height-larger: 46px;
$line-height-large: 40px;
$line-height-small: 30px;
$line-height-smaller: 28px;
$line-height-smallest: 24px;