/* ============================================================
    * Setting - Rows
============================================================ */

/**
    * The padding for diffrent sections / rows
*/

$row-padding: $spacing-double;
$row-padding--large: $spacing-quad;
$row-padding--small: $spacing-base;