/* ============================================================
	* Components - Buttons
============================================================ */

/**
	* Styling for buttons used within multiple components across
	* the project. Includes modifing classes for sizing and colours.
*/

.c-btn {
	padding: ($spacing-half + $spacing-quarter) $spacing-3x;
	font-weight: $font-bold;
	display: inline-block;
	cursor: pointer;
	width: 100%;
	text-align: center;
	border-radius: $border-radius;
	@include transition(background-color, color);

	@include media(ipad) {
		width: auto;
	}
}





/* Buttons Modifiers
============================================================ */

.c-btn--white {
	background-color: $white;
	color: $black;

	@include media(ipad-pro) {
		&:hover {
			background-color: $black;
			color: $white;
		}
	}

}