/* ———————————————————————————————————————— */
/* Components - Buttons
/* ———————————————————————————————————————— */

.c-btn {
    display: inline-block;
    cursor: pointer;
    padding: $spacing-half $spacing-base;
    transition: background $transition-time ease-in-out;
    border-radius: $border-radius;
    background: $color-primary;
    color: #fff;
}





/*--------------
 Colours
--------------*/
.c-btn--secondary {
    background: $color-secondary;
}





/*--------------
 Sizing
--------------*/
.c-btn--small {
    padding: $spacing-quarter $spacing-half;
}



.c-btn--large {
    padding: $spacing-base $spacing-double;
}