/* ============================================================
    * Element - Headings
============================================================ */

/**
    * The styling for headings accros the site you can
    * edit the sizing in the fonts config under settings.
*/

.c-heading {
    margin-bottom: $spacing-base;
    color: $color-heading;
    font-weight: $font-normal;
}





/* Heading Sizing
============================================================ */

.c-heading--largest {
    @include font-size($heading-largest--responsive, $line-height-largest--responsive);
    @include media($font-breakpoint) {
        @include font-size($heading-largest, $line-height-largest);
    }
}


.c-heading--larger {
    @include font-size($heading-larger--responsive, $line-height-larger--responsive);
    @include media($font-breakpoint) {
        @include font-size($heading-larger, $line-height-larger);
    }
}


.c-heading--large {
    @include font-size($heading-large--responsive, $line-height-large--responsive);
    @include media($font-breakpoint) {
        @include font-size($heading-large, $line-height-large);
    }
}


.c-heading--small {
    @include font-size($heading-small--responsive, $line-height-small--responsive);
    @include media($font-breakpoint) {
        @include font-size($heading-small, $line-height-small);
    }
}


.c-heading--smaller {
    @include font-size($heading-smaller--responsive, $line-height-smaller--responsive);
    @include media($font-breakpoint) {
        @include font-size($heading-smaller, $line-height-smaller);
    }
}


.c-heading--smallest {
    @include font-size($heading-smallest--responsive, $line-height-smallest--responsive);
    @include media($font-breakpoint) {
        @include font-size($heading-smallest, $line-height-smallest);
    }
}





/* Heading Colors
============================================================ */

.c-heading--primary {
    color: $color-primary;
}


.c-heading--secondary {
    color: $color-secondary;
}


.c-heading--grey {
    color: $color-grey;
}


.c-heading--white {
    color: #fff;
}





/* Heading weights
============================================================ */

.c-heading--light {
    font-weight: $font-light;
}

.c-heading--normal {
    font-weight: $font-normal;
}

.c-heading--medium {
    font-weight: $font-medium;
}

.c-heading--semi {
    font-weight: $font-semi;
}

.c-heading--bold {
    font-weight: $font-bold;
}