/* ============================================================
	* Components - Headings
============================================================ */

/**
	* The styling for headings accros the site you can
	* edit the sizing in the fonts config under settings.
*/

.c-heading {
	margin-bottom: $spacing-base;
	color: $black;
	font-weight: $font-regular;
	font-family: $font-family-primary;
}





/* Heading Sizing
============================================================ */

.c-heading--one {
	font-size: $font-size-heading-three;
	line-height: $font-size-heading-three + $font-line-height;

	@include media(ipad) {
		font-size: $font-size-heading-two;
		line-height: $font-size-heading-two + $font-line-height;
	}

	@include media(ipad-pro) {
		font-size: $font-size-heading-one;
		line-height: $font-size-heading-one + $font-line-height;
	}

}


.c-heading--two {
	font-size: $font-size-heading-four;
	line-height: $font-size-heading-four + $font-line-height;

	@include media(ipad) {
		font-size: $font-size-heading-three;
		line-height: $font-size-heading-three + $font-line-height;
	}

	@include media(ipad-pro) {
		font-size: $font-size-heading-two;
		line-height: $font-size-heading-two + $font-line-height;
	}

}


.c-heading--three {
	font-size: $font-size-heading-five;
	line-height: $font-size-heading-five + $font-line-height;
	
	@include media(ipad) {
		font-size: $font-size-heading-four;
		line-height: $font-size-heading-four + $font-line-height;
	}
	
	@include media(ipad-pro) {
		font-size: $font-size-heading-three;
		line-height: $font-size-heading-three + $font-line-height;
	}

}


.c-heading--four {
	font-size: $font-size-heading-four;
	line-height: $font-size-heading-four + $font-line-height;
}


.c-heading--five {
	font-size: $font-size-heading-five;
	line-height: $font-size-heading-five + $font-line-height;
}


.c-heading--six {
	font-size: $font-size-heading-six;
	line-height: $font-size-heading-six + $font-line-height;
}





/* Heading Colors
============================================================ */

.c-heading--primary {
	color: $colour-primary;
}


.c-heading--white {
	color: #fff;
}





/* Heading weights
============================================================ */

.c-heading--light {
	font-weight: $font-light;
}

.c-heading--normal {
	font-weight: $font-regular;
}

.c-heading--medium {
	font-weight: $font-medium;
}

.c-heading--semi {
	font-weight: $font-semi;
}

.c-heading--bold {
	font-weight: $font-bold;
}