/* ============================================================
	* Components - Page Header
============================================================ */

/**
	* The main page header used across the whole site.
	*
	* 1. Reset all styles
*/

.c-page-header {
	padding: 0; /* [1] */
	margin: 0; /* [1] */
	left: 0; /* [1] */
	width: 100%; /* [1] */
}