/* ============================================================
    * Base - Text
============================================================ */

/**
    * Default paragpraph text
*/

p {
    color: $colour-text;
    margin-bottom: $spacing-base;
    font-size: $global-font-size;
}