/* ============================================================
	* Base - Inputs
============================================================ */

/**
	* Default input styling
*/

input, textarea {
	outline: 0;
	border: 1px solid $black;
	border-radius: $border-radius;
	background-color: $white;
	color: $black;
	padding: ($spacing-half + $spacing-quarter) $spacing-base;
	font-family: $font-family-primary;
	-webkit-appearance: none;

	&::placeholder { color: rgba($black, 0.8); }

}