/* ============================================================
    * Base - Inputs
============================================================ */

/**
    * Default input styling
*/

input, textarea {
    outline: 0;
    border: $forms-element-border;
    border-radius: $border-radius;
    background-color: $forms-element-background;
    color: $forms-element-color;
    padding: $forms-element-padding;

    &::placeholder {
        color: $forms-element-placeholder;
    }

}