/* ———————————————————————————————————————— */
/* Base - Links
/* ———————————————————————————————————————— */

/*
  Default link styling bassed of settings
  set in the main settings file.
*/

a {
    transition: color $transition-time ease-in-out;
    color: $color-links;
    text-decoration: none;
}