/* ———————————————————————————————————————— */
/* Default Links
/* ———————————————————————————————————————— */

a {
  transition: color $transition-time ease-in-out;
  color: $color-links;
  text-decoration: none;
}