/* ============================================================
    * Base - Page
============================================================ */

/**
    * Default link styling bassed of settings
    * set in the main settings file.
*/

html {
    font-size: 62.5%;
    line-height: $global-line-height / $global-font-size;
    background: $global-background;
    font-weight: $global-font-weight;
    font-family: $global-font-family;
    color: $global-text-color;
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
    min-height: 100%;
}