/* ———————————————————————————————————————— */
/* Base - Page
/* ———————————————————————————————————————— */

/*
  Default link styling bassed of settings
  set in the main settings file.
*/

html {
  font-size: $global-font-size;
  line-height: $global-line-height / $global-font-size;
  background: $global-backgroiund;
  font-weight: $global-font-weight;
  font-family: $global-font-family;
  color: $global-text-color;
  overflow-y: scroll;
  min-height: 100%;
}





/*
  Default div to postion relative
*/

div {
  position: relative;
}