/* ============================================================
	* Base - Page
============================================================ */

/**
	* Default link styling bassed of settings
	* set in the main settings file.
*/

html {
	font-size: $font-size-body;
	line-height: $font-size-body + $font-line-height;
	background: $white;
	font-weight: $font-regular;
	font-family: $font-family-primary;
	color: $black;
	-webkit-font-smoothing: antialiased;
	overflow-y: scroll;
	min-height: 100%;
}


* { box-sizing: border-box; }