/* ============================================================
	* Base - Text
============================================================ */

/**
	* Default paragpraph text
*/

p {
	color: $black;
	margin-bottom: $spacing-base;
	font-size: $font-size-body;
	line-height: $font-size-body + $font-line-height;
}