/* ============================================================
    * Tools - Transition
============================================================ */

/** 
    * A simple tool for quick and consistent transitions
    * @include transition(color, background) {}
*/

@mixin transition($type...) {
    $transitions: ();

    @each $item in $type {
        @if $transition-easing == true {
            $transitions: append($transitions, ($item $transition-time $transition-easing-type), comma);
        } @else {
            $transitions: append($transitions, ($item $transition-time), comma);
        }
    }
    
    transition: $transitions;
}